*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }

body {
  font-size: 1.6rem;
  font-family: "Lato", Helvetica, Arial, sans-serif; }

.header_title {
  font-size: 10rem; }

.header_title {
  width: fit-content;
  margin-left: auto;
  margin-right: auto; }

.center {
  display: flex;
  justify-content: center; }
