//COLOR VARIABLES
$color-primary:#4582dd;
$color-primary-light:#6aa5fd;
$color-primary-dark:#1e4e96;
$color-secondary:#F8A23F;
$color-tertiary:#3B3B3B;

// RESPONSIVE BREAKPOINTS
$bp-largestest: 87.5em; // 1400px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;

@media only screen and (max-width: $bp-largestest) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 45%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 30%;
  }
}

///////////////////////////////
// FINISHED BASE / START TYPOGRAPHY

body{
  font-size: 1.6rem;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

.header_title{
  font-size: 10rem;
}

///////////////////////////////
// FINISHED TYPOGRAPHY / START HEADER
.header{
  &_title{
    width: fit-content;
    margin: 3.5rem auto;
  }
  &_img{
    width: 80vw;
  }
}

.center{
  display: flex;
  justify-content: center;
}

///////////////////////////////
// FINISHED HEADER / START NAV

.nav{
  background-color: $color-tertiary;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0rem;
  margin: 5rem 0rem;
  &_btn{
    color: white;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    background-color: $color-secondary;
  }
}

///////////////////////////////
// FINISHED NAV / START PARA

.para{
  margin: 10rem 0rem;
  
  &_container{
    display: flex;
  justify-content: center;
    width: 99vw;
    background-color: $color-primary-light;
    border: 1px solid black;
    &-p{
      width: 50vw;
      padding: 3rem;
      font-weight: 600;
      font-size: 3rem;
      color: black;
    }
  }
}

///////////////////////////////
// FINISHED PARA / START CARDS

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;

  &_card{
    background-color: $color-primary-light;
    border: 1px solid black;
    padding: 3rem;
    margin: 0rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-h{
      font-size: 5rem;
      font-weight: 700;
      margin: 2.5rem 0rem;
    }

    &-ul{
      
    }
    &-li{
      font-size: 2rem;
      font-weight: 500;
      list-style: none;
      margin: 2.5rem 0rem;
    }
    &-1{

    }
    &-2{

    }
    &-3{

    }
    &-4{

    }
  }
}