// RESPONSIVE BREAKPOINTS
$bp-largestest: 87.5em; // 1400px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;

@media only screen and (max-width: $bp-largestest) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 45%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 30%;
  }
}

///////////////////////////////
// FINISHED BASE / START TYPOGRAPHY

body{
  font-size: 1.6rem;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.header_title{
  font-size: 10rem;
}

///////////////////////////////
// FINISHED TYPOGRAPHY / START HEADER

.header_title{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.center{
  display: flex;
  justify-content: center;
}
